.askQformContainer{
    width: 90%;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.askQformContainer h1{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.askQformContainer label{
    font-weight: bold;
    font-size: 1rem;
}


.askQformContainer input{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    width: 90%;
    height: 30px;
}

#question{
    padding: 0 8px;
}

#keyword{
    padding: 0 8px; 
}

.askQformContainer textarea {
    border: 1px solid grey;
    margin: 10px 0 20px 0;
    width: 90%;
    height: 150px;
    border-radius: 5px;
    padding: 8px; 
    box-sizing: border-box; 
    resize: vertical; 
    outline: none;
  }

  .askQformContainer textarea:focus {
    border: 2px solid black; 
  }


.buttons button{
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

.askQformContainer button:hover{
    filter : brightness(0.7);
}

.askQformContainer .submit{
    background-color: forestgreen;
    border: 1px solid darkgreen;
}

.askQformContainer .cancel{
    background-color:firebrick;
    border: 1px solid darkred;
    margin-left: 20px;
}
